.form-input{
    margin: 0.5rem 0;
    
}

.form-input label{
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
}

.form-input input{
    display: block;
    width: 100%;
    border: 1px solid #FEE9FF;
    border-radius: 5px;
    font: inherit;
    line-height: 1.5rem;
    padding: 0 0.25rem;
}

.form-input input:focus{
    outline: none;
    background-color: #FEE9FF;
    
}